# Exclure les données sources
data/
outputs/
notebooks/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.DS_Store
*.ipynb_checkpoints

# Environnement virtuel
.venv/
env/

# Fichiers de configuration utilisateur
*.env
